/* SCSS for UserPopover */
.user-popover {
  min-width: 300px;
  padding: 10px;
  background-color: #282c34;
  color: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

  .user-details {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .avatar {
      margin-right: 10px;
      border: 2px solid #1890ff;
    }

    h3 {
      color: white;
      margin: 0;
    }
  }

  p {
    margin: 0;
  }

  .actions {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;

    .chat-button {
      flex: 1;
      margin-right: 5px;
    }

    .mail-button {
      flex: 1;
    }
  }
}

/* SCSS for FishPopover */
.fishPopoverContent {
  min-width: 400px;
  padding: 20px;
  background-color: #f9f9f9;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  position: relative;
  text-align: center;
}

.navigationButtons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.button {
  background-color: #808080;
  border: 2px solid #d9d9d9;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.buttonRight {
  color: #fff;
}

.imageContainer {
  margin-bottom: 0;
}

.image {
  max-width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid #1890ff;
}

.defaultImageContainer {
  width: 100%;
  height: 300px;
  background-color: #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #999;
}

.listDescription {
  text-align: left;
}
