.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}

.login-box {
  display: flex;
  width: 1400px;
  height: 600px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px; /* Bo tròn các góc */
  overflow: hidden; /* Ẩn phần dư nếu có khi bo tròn */
}

.login-form {
  flex: 0 0 35%; /* Chiếm 35% chiều rộng */
  padding: 100px 50px 50px 50px; /* Điều chỉnh padding bên trên để form lớn hơn */
  background-color: white;
  position: relative; /* Đặt logo bên trong form */
  border-radius: 10px; /* Bo tròn các góc cho form */
}

.login-logo {
  position: absolute;
  top: 25px;
  left: 25px;
}

h1 {
  text-align: center;
}

.description {
  font-size: 1.35rem;
  color: rgba(0, 0, 0, 0.45);
  margin-bottom: 30px;
  text-align: center;
}

.forgot-password {
  display: block;
  margin-top: 10px;
  color: #1890ff;
  text-decoration: none;
  text-align: right;
}

.ant-form-item {
  margin-bottom: 20px; /* Khoảng cách giữa các ô input */
}

.ant-input,
.ant-input-password {
  border-radius: 4px; /* Bo tròn các góc cho ô input */
  padding: 10px; /* Tăng padding cho ô input */
}

button {
  padding: 12px; /* Tăng padding cho nút submit */
  background-color: #1890ff;
  color: white;
  border: none;
  border-radius: 4px; /* Bo tròn các góc cho nút submit */
  cursor: pointer; /* Con trỏ khi hover */
  width: 100%; /* Chiều rộng bằng 100% của form */
  font-size: 1rem; /* Tăng kích thước chữ cho nút submit */
}

button:hover {
  background-color: #40a9ff; /* Đổi màu khi hover */
}

.login-banner {
  flex: 1;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-banner video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
