.dashboard {
  padding: 20px;
}

.summaryWrapper {
  display: flex;
  margin: 20px;
  height: 90px;
}

.summaryCard {
  flex: 1; /* Mỗi ô sẽ chiếm đều không gian */
  margin: 0 10px;
  border: 2px solid rgb(212, 22, 60);
  border-radius: 12px;
  transition: transform 0.3s;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  &:hover {
    transform: translateY(-5px);
  }
}

.chartWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.chartBorder {
  border: 2px solid #e0e0e0;
  padding: 15px;
  width: 65%;
}

.chartBorderPie {
  border: 2px solid #e0e0e0;
  border-radius: 12px;
  padding: 15px;
  width: 30%;
}
