.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form {
  padding: 20px;
  border-radius: 8px;
  width: 600px;
  border: 2px solid red;
}

.countdown {
  display: flex;
  color: red;
  font-size: 15px;
  margin-left: 10px;
}

.logo {
  position: absolute;
  top: 15px;
  left: 15px;
}
