.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form {
  padding: 20px;
  border-radius: 8px;
  width: 600px;
  border: 2px solid red;
  box-shadow: 0 4px 15px rgba(145, 38, 38, 0.3);
  transition: transform 0.7s ease, box-shadow 0.3s ease;
}

.form:hover {
  transform: scale(1.99);
}

.logo {
  position: absolute;
  top: 15px;
  left: 15px;
}

.loginBtn {
  width: 18%;
  margin: 5px;
}

.submitBtn {
  width: 80%;
}
