.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 600px;
  border: 2px solid red;
}

h2 {
  text-align: center;
  padding: 10px;
  border-radius: 3px;
}

.ant-form {
  padding: 20px;
}

p {
  color: red;
  text-align: center;
}
