.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  transition: background-color 0.3s ease, color 0.3s ease; /* Thêm hiệu ứng cho màu */
}

.light {
  background-color: #f0f0f0; /* Màu nền cho chế độ sáng */
  --icon-color: #000; /* Màu icon cho chế độ sáng */
}

.dark {
  background-color: #1f1f1f; /* Màu nền cho chế độ tối */
  --icon-color: #fff; /* Màu icon cho chế độ tối */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-controls {
  display: flex;
  align-items: center;
}

.dark-light-switch {
  margin-right: 0px;
}

.user-icon {
  font-size: 35px;
  cursor: pointer;
  color: var(--icon-color); /* Kế thừa màu icon từ biến */
}

.logo {
  color: var(--icon-color); /* Kế thừa màu logo từ biến */
  font-size: 24px;
}

.noti {
  font-size: 25px;
  margin: 10px;

  cursor: pointer;
  color: var(--icon-color);
}

.badge {
  font-size: 15px;
}

.language {
  font-size: 25px;
  margin: 10px;

  cursor: pointer;
  color: var(--icon-color); /* Kế thừa màu icon từ biến */
}
